<fieldset>
    <legend>View/Edit Schedule:</legend>
    <div class="mb-3">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Schedule</mat-label>
                        <input id="test" formControlName="scheduledDateTime" #ref matInput
                            [ngxMatDatetimePicker]="picker" placeholder="Choose a date" required
                            (dateChange)="onChangeDateTime($event)" />
                        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                        <mat-hint>{{dateFormat}}</mat-hint>
                        <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                            [stepMinute]="1" [stepSecond]="0" [touchUi]="false" [color]="undefined"
                            [enableMeridian]="false" [disableMinute]="false" [hideTime]="false">
                        </ngx-mat-datetime-picker>
                        <mat-error *ngIf="f['scheduledDateTime'].errors">Invalid DOB</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-2">
                    <button [ngClass]="{'disabled' : !enableCopyButton}" #button type="button"
                        (click)="onCopy($event, button)" class="btn btn-primary">
                        Copy To Buffer
                    </button>
                </div>
                <div class="col-2">
                    <button [ngClass]="{'disabled' : !enablePasteButton}" #button type="button"
                        (click)="onPaste($event, button)" class="btn btn-primary">
                        Paste From Buffer
                    </button>
                </div>
                <div class="col-2">
                    <button #button type="button" (click)="onClear($event, button)" class="btn btn-primary">
                        Clear Buffer
                    </button>
                </div>
                <div class="col-3">
                    <input type="text" class="no-outline" formControlName="information" id="Info" name="Name">
                </div>
            </div>
        </form>
    </div>
    <div class=" mb-3 mx-0">
        <div *ngFor="let item of functions | orderByDate: 'userFunction': 'asc' ">
            <app-function-schedule (schedulesUpdatedEmitter)="onSchedulesUpdated($event)" #function
                [functionStr]=item.userFunction [dateTimeStr]="getDateTimeStr()"></app-function-schedule>
        </div>
    </div>
</fieldset>

<div class="col-5 mb-3">
    <a routerLink="../" class="btn btn-link">Back</a>
</div>