<fieldset>
    <legend>Upload Timeslots & Generate Schedules</legend>
    <div class="container">
        <div class="row">
            <div class="mb-3 col-6">
                <div class="file-upload">

                    {{fileName || "No file uploaded yet."}}

                    <button type="button" color="primary" class="btn btn-primary upload-button"
                        (click)="fileUpload.click()">
                        <img src="/assets/images/Upload.png" />
                    </button>

                </div>
                <form method="post" enctype="multipart/form-data">
                    <div>
                        <!-- <label for="file">Choose file to upload</label> -->
                        <input type="file" class="file-input" #fileUpload accept=".xlsx" required
                            (change)="onFileSelected($event)" />
                    </div>
                </form>
            </div>
            <div >
                <div class="row">
                    <div class="col-1">
                        <button [disabled]="!fileHasBeenSelected || submitted" (click)="onSubmit($event, fileUpload)"
                            class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-1">
                        <a [routerLink]="['../../']"  class="btn btn-primary">Back</a>
                    </div>
                </div>
            </div>

            <div *ngIf="submitted" col-12>
                <label for="file">File progress:</label>
                <progress #progressFile id="progress-bar" max="100" [value]=uploadProgress></progress>
            </div>
        </div>
    </div>
</fieldset>
