<fieldset >
    <legend>Import Timeslots</legend>
    <div class="container">
        <div class="row">
            <div class="mb-3 col-6 px-0">
                <div class="file-upload">

                    {{fileName || "No file uploaded yet."}}

                    <button type="button" color="primary" class="btn3d btn btn-primary upload-button"
                        (click)="fileUpload.click()">
                        <img src="./assets/images/Upload.png" />
                    </button>

                </div>
                <form method="post" enctype="multipart/form-data">
                    <div>
                        <code >
                        <!-- <label for="file">Choose file to upload</label> -->
                        <input type="file" class="file-input" #fileUpload accept=".xlsx" required
                            (change)="onFileSelected($event)" />
                        </code>
                    </div>
                </form>
            </div>
            <div class="px-0">
                <div class="submit pe-3">
                    <button [disabled]="!fileHasBeenSelected || submitted" (click)="onSubmit($event, fileUpload)"
                        class="btn3d btn btn-primary">Submit</button>
                </div>
                <div class="back">
                    <a [routerLink]="['../../']" class="btn3d btn btn-primary">Back</a>
                </div>
            </div>

            <div *ngIf="submitted" col-12>
                <label for="file">File progress:</label>
                <progress #progressFile id="progress-bar" max="100" [value]=uploadProgress></progress>
            </div>
        </div>
    </div>
</fieldset>
