@if(generatingSchedules || downloadingSchedules) {
<div class="loader">
    <mat-progress-spinner diameter="60" [value]="0" mode="indeterminate">
    </mat-progress-spinner>
</div>
}
<div class="container">
    <div class="row">
        <!-- <div class="mb-3 col-5">
            <fieldset>
                <legend>Auto Email</legend>
            <label class="sendEmailClass pe-3" for="send">Send e-mails:</label>
            <input type="checkbox" id="send" #tr (click)="onChangeHandler($event, tr)" [checked]="autoEmail"
                [disabled]="false" />
            </fieldset>
        </div> -->
    </div>
</div>

<div class="container">
    <form>
        <fieldset>
            <legend>Accounts</legend>
            <div class="row ">
                <div class="col-2 ">
                    <nav class="navbar  bg-body-tertiary">

                        <!-- <div class="mx-auto custom-container p-4 text-center">
                            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                                <div class="container-fluid">
                                    <h1>
                                    <a class="navbar-brand" href="#">Menu</a>
                                </h1>
                                </div>
                            </nav>
                        </div> -->

                        <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm">
                            <li class="nav-item mt-2">
                                <button routerLink="agenttaskdefinition-edit" type="button"
                                    class="btn3d btn btn-sm btn-primary mb-2" data-toggle="tooltip" data-placement="top"
                                    title="Define Agent Tasks" [ngClass]="{'disabled' : generatingSchedules || downloadingSchedules}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-list-task" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z"/>
                                        <path d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z"/>
                                        <path fill-rule="evenodd" d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z"/>
                                      </svg>&nbsp;Define Tasks</button>
                            </li>

                            <li class="nav-item dropdown">
                                <a class=" dropdown-toggle btn3d btn btn-sm btn-primary mb-2" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false" data-placement="top"
                                    title="Import Accounts or Time Slots" [ngClass]="{'disabled' : generatingSchedules || downloadingSchedules}">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" 
                                    viewBox="0 0 20 25" version="1.1" x="0px" y="0px"><title>Import</title><desc>Created with Sketch.</desc>
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-50.000000, -50.000000)" 
                                        fill="#000000"><g transform="translate(20.000000, 50.000000)">
                                            <path d="M32,17.0024554 C32,17.553384 32.4446309,18 33.0008717,18 L46.9991283,18 C47.5518945,18 
                                            48,17.5536886 48,17.0024554 L48,9.99754465 C48,9.44661595 47.5561352,9 47,9 C46.4477153,9 46,9.43788135 
                                            46,10.0029293 L46,16 L34,16 L34,10.0029293 C34,9.44902676 33.5561352,9 33,9 C32.4477153,9 32,9.4463114 
                                            32,9.99754465 L32,17.0024554 Z M40,2 C39.4477153,2 39,2.43788135 39,3.00292933 L39,9 L36.9989566,9 C36.4472481,9 36.3138733,9.31387329 36.7059121,9.70591205 L40,13 L43.2940879,9.70591205 C43.6839524,9.31604759 43.5573397,9 43.0010434,9 L41,9 L41,3.00292933 C41,2.44902676 40.5561352,2 40,2 Z"/>
                                        </g></g></g><text x="0" y="35" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">Created by Keller</text>
                                        <text x="0" y="40" fill="#000000" font-size="5px" font-weight="bold" font-family="'Helvetica Neue', Helvetica, Arial-Unicode, Arial, Sans-serif">from the Noun Project</text>
                                    </svg>&emsp;Import
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item btn3d btn btn-sm " routerLink="import-accounts"
                                            data-placement="top" title="Import Accounts">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" class="bi bi-file-earmark-person"
                                                viewBox="0 0 16 16">
                                                <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                                <path
                                                    d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5z" />
                                            </svg>&nbsp;Import Accounts
                                        </a>
                                    </li>
                                    <li><a class="dropdown-item btn3d btn btn-sm"
                                            routerLink="import-timeslots-tasks/import" data-placement="top"
                                            title="Import TimeSlots Tasks">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                                <path
                                                    d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                                <path
                                                    d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                                            </svg>&nbsp;Import Time Slots
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <button routerLink="./" (click)="onDeleteAllUserAccounts($event)" type="button"
                                    class="btn3d btn btn-sm btn-danger mb-2" data-placement="top"
                                    title="Delete Accounts" [ngClass]="{'disabled' : generatingSchedules || downloadingSchedules}" >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                                        <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                        <path
                                            d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5z" />
                                    </svg>&nbsp;Delete Accounts
                                    <span *ngIf="isDeleting" class="spinner-border spinner-border-sm mr-1"></span>
                                </button>
                            </li>
                            <li class="nav-item">
                                <button routerLink="add-edit/add" class="btn3d btn btn-sm btn-primary mb-2"
                                    data-placement="top" title="Create Account" [ngClass]="{'disabled' : generatingSchedules || downloadingSchedules}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                                        <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                        <path
                                            d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5z" />
                                    </svg>&nbsp;Create Account</button>
                            </li>
                            <li class="nav-item">
                                <button routerLink="timeslotstasks-edit" type="button"
                                    class="btn3d btn btn-sm btn-primary mb-2" data-toggle="tooltip" data-placement="top"
                                    title="Create Time Slots" [ngClass]="{'disabled' : generatingSchedules || downloadingSchedules}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-clock" viewBox="0 0 16 16">
                                        <path
                                            d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                                    </svg>&nbsp;Create Time
                                    Slots</button>
                            </li>
                            <li class="nav-item">
                                <button routerLink="." (click)="generateSchedules()" type="button"
                                    class="btn3d btn btn-sm btn-primary mb-2" data-toggle="tooltip" data-placement="top"
                                    title="Generate Schedules" [ngClass]="{'disabled' : generatingSchedules || downloadingSchedules}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-journals" viewBox="0 0 16 16">
                                        <path
                                            d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2" />
                                        <path
                                            d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0" />
                                    </svg>&nbsp;Gen. Schedules</button>
                            </li>
                            <li class="nav-item">
                                <button routerLink="schedule-modify" type="button"
                                    class="btn3d btn btn-sm btn-primary mb-2" data-toggle="tooltip" data-placement="top"
                                    title="View\Edit Schedules" [ngClass]="{'disabled' : generatingSchedules || downloadingSchedules}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z" />
                                        <path
                                            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466" />
                                    </svg>&nbsp;Mod. Schedules</button>
                            </li>

                            <li class="nav-item mb-2">
                                <button type="button" (click)="downloadSchedules($event)"
                                    class="btn3d btn btn-sm btn-primary mb-2" data-placement="top"
                                    title="View Schedules in .pdf format" [ngClass]="{'disabled' : generatingSchedules || downloadingSchedules}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                        class="bi bi-download" viewBox="0 0 16 16">
                                        <path
                                            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
                                        <path
                                            d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z" />
                                    </svg>&nbsp;View Schedules</button>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="col-10">
                    <form>
                        <mat-form-field appearance="outline">
                            <mat-label>Filter</mat-label>
                            <input matInput (keyup)="applyFilter($event.target, input)" placeholder="Search columns"
                                #input>
                        </mat-form-field>
                        <mat-table matSort class="lessons-table mat-elevation-z8" [dataSource]="dataSource" (matSortChange)="sortData($event)">
                            <ng-container matColumnDef="{{displayedColumns[0]}}">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                <mat-cell *matCellDef="let account">
                                    <input type="text" matInput
                                        [value]="account.firstName+' '+account.lastName" readonly />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="{{displayedColumns[1]}}">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                                <mat-cell *matCellDef="let account">
                                    <input type="text" matInput [value]="account.email" readonly />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="{{displayedColumns[2]}}">
                                <mat-header-cell *matHeaderCellDef> DOB </mat-header-cell>
                                <mat-cell *matCellDef="let contact">
                                    <input type="text" matInput [value]="contact.dob" readonly />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="{{displayedColumns[3]}}">
                                <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
                                <mat-cell *matCellDef="let account">
                                    <input type="text" matInput [value]="account.role" readonly />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="{{displayedColumns[4]}}">
                                <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                                <mat-cell *matCellDef="let account">

                                    <button routerLink="add-edit/edit/{{account.id}}" [disabled]="!account.isVerified || generatingSchedules || downloadingSchedules"
                                        class="btn btn-sm btn-primary mr-1 btn3d">Edit</button>
                                    <button (click)="deleteAccount(account.id)"
                                        class="btn btn-sm btn-danger btn-delete-account btn3d"
                                        [disabled]="account.isDeleting || account.role == Role.Admin || generatingSchedules || downloadingSchedules">
                                        <span *ngIf="account.isDeleting"
                                            class="spinner-border spinner-border-sm"></span>
                                        <span *ngIf="!account.isDeleting">Delete</span>
                                    </button>

                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                            <mat-row *matRowDef="let row; columns: displayedColumns;let i = index;"
                                [ngClass]="{'highlighted': row.highlighted}" #tr
                                (click)="onRowSelected(row, tr, i, $event)" (mouseover)="row.hovered = true"
                                (mouseout)="row.hovered = false"></mat-row>

                        </mat-table>
                        <mat-paginator #paginator pageSize={{pageSize}} [length]="accounts().length" [pageSizeOptions]="[10, 30, 50, 100]"
                            showFirstLastButtons (page)="onChange($event)">
                        </mat-paginator>
                    </form>
                </div>
            </div>
        </fieldset>
    </form>
</div>