<form [formGroup]="form" *ngIf="isLoaded && !isAdmin">
    <div class="row">
        <div class="mb-3 col-5">
            <label>Define schedules for {{account.firstName}} {{account.lastName}}</label>
        </div>
    </div>

    <fieldset>
        <legend>Date & Tasks:</legend>
        <div class="container">
            <div class="row">
                <div class="mb-3 col-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Schedule</mat-label>
                        <input formControlName="scheduledDate" #ref matInput [ngxMatDatetimePicker]="picker"
                            placeholder="Choose a date" required (dateChange)="onDateChanged($event)"/>
                        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                        <mat-hint>{{dateFormat}}</mat-hint>
                        <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false" [stepHour]="1"
                            [stepMinute]="1" [stepSecond]="0" [touchUi]="false" [color]="undefined"
                            [enableMeridian]="false" [disableMinute]="false" [hideTime]="false">
                        </ngx-mat-datetime-picker>
                        <mat-error *ngIf="f['scheduledDate'].errors">Invalid DOB</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row equal">
                <div class="mb-3 col-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Task</mat-label>
                        <mat-select formControlName="function"
                            [ngClass]="{ 'is-invalid': submitted && f['function'].errors }" required
                            (selectionChange)="onUserFunctionChanged($event)">
                            <mat-option *ngFor="let item of uniqueTasks" [value]=item>
                                {{ item }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="submitted && form.controls['function'].hasError('invalidFunction')"
                            class="alert alert-danger">
                            Task can't be empty
                        </mat-error>
                    </mat-form-field>
                </div>
                @if (isGroupTaskSelected) {
                <div class="mb-3 col-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Group</mat-label>
                        <mat-select formControlName="groupTask"
                            [ngClass]="{ 'is-invalid': submitted && f['groupTask'].errors }" [disabled]="true" required>
                            <mat-option *ngFor="let item of uniqueGroups" [value]=item #groupDataCtrl>
                                {{ item }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="f['groupTask'].enabled && f['groupTask'].hasError('required')">The field is
                            required</mat-error>
                    </mat-form-field>
                </div>
                }
            </div>
        </div>


        <div class="mb-3" *ngIf="isLoggedAsAdmin">
            <button type="button" (click)="onAddSchedule()" class="btn3d btn btn-primary"
                [ngClass]="{ 'disabled': !form.controls['scheduledDate'].valid}">
                <span *ngIf="isAdding" class="spinner-border spinner-border-sm mr-1"></span> Add
            </button>
            &nbsp;
        </div>
    </fieldset>
</form>

<fieldset>
    <legend>Assigned Dates:</legend>

    <div class="container">
        <mat-form-field appearance="outline">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event.target, input)" placeholder="Search columns" #input>
        </mat-form-field>
    </div>

    <mat-table matSort #table class="lessons-table mat-elevation-z8" [dataSource]="dataSource" 
        (matSortChange)="sortData($event)">

        <ng-container matColumnDef="{{displayedColumns[0]}}">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
            <mat-cell *matCellDef="let schedule">
                <input type="text" matInput  [value]="schedule.date"
                    readonly>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userFunction">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Task </mat-header-cell>
            <mat-cell *matCellDef="let schedule">
                <input type="text" #data matInput placeholder="None" [value]="schedule.userFunction" readonly />
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="scheduleGroup">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Group </mat-header-cell>
            <mat-cell *matCellDef="let i = index;let schedule">
                <span *ngIf="schedule.scheduleGroup != undefined">
                    <input type="text" #data matInput placeholder="None" [value]="schedule.scheduleGroup"
                        (keydown.enter)="onGroupButtonEntered($event)" readonly />
                </span>
            </mat-cell>
        </ng-container>


        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
            <mat-cell *matCellDef="let rowIndex = index; let schedule;">
                <button mat-raised-button color="warn" (click)="onDeleteSchedule(rowIndex, schedule)">
                    <span *ngIf="schedule.deleting" class="spinner-border spinner-border-sm mr-1"></span>Delete
                </button>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;let i = index;"
            [ngClass]="{'highlighted': row.highlighted}" #tr (click)="onRowSelected(row, tr, i, $event)"
            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></mat-row>


    </mat-table>

    <mat-paginator #paginator class="lessons-table mat-elevation-z8" [length]="schedules.length" [pageSizeOptions]="[5, 30, 50, 100]" showFirstLastButtons>
    </mat-paginator>
</fieldset>

@if(isLoaded) {
<div type="button" class="mb-3 ms-2">
    <a routerLink="/admin/accounts/add-edit/edit/{{account.id}}" class="btn3d btn btn-primary">Back</a>
</div>
}
<div class="row mt-3"></div>