<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Force Index.html" enabled="true" stopProcessing="true">
					<match url="(.*)"/>
					<conditions>
						<add input="{REQUEST_URI}" matchType="IsDirectory" negate="true"/>
						<add input="{REQUEST_URI}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="/scheduler/index.html"/>
				</rule>
				<!--rule name="HTTPS force" enabled="true" stopProcessing="true">
					<match url="(.*)"/>
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$"/>
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent"/>
				</rule>
				<rule name="redirect to scheduler" stopProcessing="true">
					<match url="(.*)"/>
					<conditions>
						<add input="{HTTP_HOST}" pattern="^192.168.0.19$"/>
						<add input="{HTTPS}" pattern="on"/>
					</conditions>
					<action type="Redirect" url="/scheduler/index.html"/>
				</rule-->
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
