<h3 class="card-header">Forgot Password</h3>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-4">
                <mat-form-field appearance="outline" >
                    <mat-label>DOB+</mat-label>
                    <input formControlName="dob" #ref matInput [matDatepicker]="picker" placeholder="Choose a date" required>
                    <mat-hint>{{DATE_FORMAT}}</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="submitted && f['dob'].errors">Invalid DOB</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="mb-3">
            <button [disabled]="loading" class="btn3d btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Submit
            </button>
            <a routerLink="../login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>